
{% block content %}

<div>{% if choice == 'RGPD' %}
    <h3 class="font-bold text-blue-600">Vous avez choisi la conformité au RGPD Européen</h3>
    <p>{{detail_choice}}</p>
    {% elif choice == 'L25' %}
    <h3 class="font-bold text-blue-600">Vous avez choisi la conformité à la Loi 25 Québecoise</h3>
    <p>{{detail_choice}}</p>
    {% elif choice == 'BOTH' %}
    <h3 class="font-bold text-blue-600">Vous avez choisi la conformité au RGPD Européen et à la Loi 25 Québecoise</h3>
    <p>{{detail_choice}}</p>
    {% endif %}
</div>

<div>
    {% for question in context.questions %}
        <p class=" ">{{question.text}}</p> 
        {% for cle, reponse in question.reponse.items %} 
            <button class="cursor-pointer rounded-md bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50">{{reponse}}</button>  
        {% endfor %}
    {% endfor %}

</div>


{% endblock %}